.choresText {
   color: purple;
   font-size: 1.3vw;
   font-style: italic;
   text-align: left;
}

.choresHeading {
   color: purple;
   font-size: 1.3vw;
   text-decoration: underline;
   text-align: left;
}